# JerseyAve gitignore 

# Temporary files system
#-------------------------
.DS_Store
/**/.DS_Store
/storages/

*.htaccess

# IDE Files
#-------------------------
/nbproject/
.idea/*

# Netbeans
#-------------------------
/nbproject/private/

# NPM
#-------------------------
/node_modules/
/**/node_modules/
/npm-*

# Bower
#-------------------------
/bower_components/


# SASS
#-------------------------
/.sass-cache/
/**/.sass-cache/

# Build CSS & JS
#-------------------------
/build/
/**/.css-cache/
/**/.js-cache/
typescript
