.hideme {
    opacity:0;
    @include transform(translate(0%,25%));
    @include transition(all 1s ease-in-out);
}

.showme {
    opacity:1;
    @include transform(translate(0%,0%) !important);
}

.section-top {
	background-image: url(../../src/images/slider1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;

	h2 {
		font-size: 3em;
		line-height: 1.1;
		padding: 195px 220px;
		font-weight: 100;
		color: white;
		position: relative;
		z-index: 10;
	}

	&:after {
		content: "";
	    position: absolute;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(0,0,0,.5);
	    z-index: 5;
	}
}

.section-bis {	
	.section-bis_pst {
		color: black;
		display: flex;
	    justify-content: space-evenly;
	    text-align: center;
	    flex-wrap: wrap;

	    width: 100%;
	    max-width: 1050px;
	    margin: auto;

		article {
		    width: 300px;
		    margin: 25px;

		    img {
		    	width: 100%;
		    }
		}

		h3 {
			font-size: 1.3em;
			padding: 10px 0;
		}
	}
}

.section-1 {
    padding-top: 60px;
	padding-bottom: 0;
	h3 {
		font-size: 3em;
		line-height: 1.1;
		padding: 0 220px;
		font-weight: 100;
	}
}

.section-2 {
	.section-2_container {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;

	}
	article {
	    width: 100%;
	    max-width: 250px;
	    margin: 20px;
	}
	h3 {
		color: #9b9b9b;
		font-weight: 100;
		text-transform: uppercase;
		padding-bottom: 35px;
	}

	span {
		display: block;
		color: black;
	}

	p {
	    color: #9b9b9b;
	    font-weight: 100;
	    padding: 20px 0;
	    line-height: 1.4;
	}

	a {
		color: #003caf;
		font-weight: bold;
	}
}

.section-3 {
	display: flex;
	justify-content: center;
	align-items: center;

	.section-3_bloc1 {
		position: relative;
		width: 50%;
		background-color: #9114a5;
	}

	.section-3_bloc2 {
		position: relative;
		width: 50%;
		background-color: #78c200;		
	}

	.section-3_bloc1-container,
	.section-3_bloc2-container {
		width: 100%;
		max-width: 600px;
		margin: auto;
		padding: 50px 0;
	}

	.section-3_bloc1-text,
	.section-3_bloc2-text {
	    padding: 0 30px;
	}

	h3 {
	    text-transform: uppercase;
		font-weight: 100;
		padding-bottom: 25px;
	}

	span {
		font-size: 1.8em;
		line-height: 1.1;
	}

	p {
		font-weight: 100;
		margin: 50px 0;
		line-height: 1.3;
		font-size: 0.9em;
	}

	.section-3_links {
		width: 100%;
		display: flex;
		justify-content: space-between;

		a {
		    width: 230px;
		    display: block;
		    text-align: center;
		    text-transform: uppercase;
		    font-weight: 400;
		    letter-spacing: .5px;
		    padding: 25px 15px;
		    font-size: .8em;
		}
	}

	.link1 {
		a:nth-child(1) {
	    	background: #720d82;			
		}
	}
	.link2 {
		a:nth-child(1) {
	    	background: #fff;	
	    	color: #78c200;		
		}
	}
}

.section-4 {
    .section-4_img {
		display: flex;
	    justify-content: center;
	    align-items: center;
    }

    img {
    	width: 150px;
	    margin: 0 25px;
    }

    a {
	    color: #003caf;
	    font-weight: 700;
	    text-align: center;
	    display: block;
	    padding-top: 25px;
    }
}

.section-5 {
	background: url(../../src/images/slider4.jpg);
    background-size: cover;
    background-repeat: no-repeat;

	&:after {
		content: "";
		background: rgba(0,0,0,.3);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.section-5_container {
		// @extend .center;
		position: relative;
	    width: 100%;
	    max-width: 1000px;
	    z-index: 10;
	}

	.section-5_text {
		padding: 100px 50px 0;
	}

	h3 {
	    font-weight: 100;
	    padding-bottom: 25px;
	    text-transform: uppercase;
	}

	span {
		display: block;
		font-size: 3em;
		width: 300px;
		line-height: 1.3;
	}

	p {
		padding: 60px 0;
		font-size: 1.3em;
		font-weight: 100;
		line-height: 1.2;
	}

	.section-5_links {
		display: flex;

		a {
		    width: 250px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    text-align: center;
		    text-transform: uppercase;
		    font-weight: 400;
		    letter-spacing: .5px;
		    padding: 25px 15px;
		    font-size: .8em;
		    line-height: 1.5;

		    &:hover {
			    background: #003caf;
		    }
		}

		.a-active {
			background: #003caf;
			margin-right: 25px;
		}
	}


}

.section-6 {
	.section-6_partners {
	    display: flex;
	    justify-content: space-evenly;
	    align-items: center;
        padding: 20px 0 0;

		img {
		    width: 160px;
		}

	}	
}

.section-7 {
	background-color: #e9e9e9;

	.section-7_market {
	    width: 100%;
	    max-width: 500px;
	    margin: auto;
	    display: flex;
	    justify-content: space-around;
	    background: black;
	    line-height: 1.4;
	}

	.section-7_market_bloc {
	    padding: 40px 20px;		
	}

	p {
	    font-size: 3em;
	    font-weight: bold;
	}

	span {
		font-weight: 100;
		display: block;
	}
	.span-2 {
		text-align: right;
	}
}

.section-8 {
	.brands-slider {
	    margin: auto;
	    display: block;
	    width: 100%;
	    max-width: 800px;
	}

	.section-8_slider {
	    display: none;
	    margin: auto;
	    width: 100%;
	    max-width: 700px;

	    img {
	    	width: 100px;
	    }
	}
}



