header {
	display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 10px 0;

    position: fixed;
    z-index: 100000;
    width: 100%;
    top: 0;
    left: 0;

    .logo {
    	img {
    		display: block;
		    width: 125px;
    	}
    }

    ul {
    	display: flex;
    	align-items: center;
    }

    li {
    	margin: 0 20px;
    	font-size: 0.7em;
    }

	span.earth {
	    margin-right: 30px;
	}

    a {
    	text-decoration: none;
    	text-transform: uppercase;
    	font-weight: bold;
    	color: black;

    	@include transition(all 0.2s ease-in-out);

    	&:hover {
    		color: #003caf;
    	}
    }

    .active {
    	color: #003caf;
    }

    .search-bar {
	    position: absolute;
	    left: 0;
	    top: 63px;
	    z-index: 10;
	    width: 100%;
	    // color: black;

	    input {
	    	display: none;

		    padding: 10px 75px;
		    width: 100%;
		    height: 70px;
		    outline: 0;
		    font-size: 1.8em;
		    background: rgba(0, 0, 0, 0.72);
		    border: none;

            color: white;
	    }
    }

}